.containter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categoria {
  display: flex;
  align-self: flex-start;
  margin-left: 10%;
  font-size: 5rem;
  color: white;
}

.listado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
